@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  width: 100%;
  background-color: #1E2749;
  color: #fff;
  overflow-x: hidden;
}

main .startbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .startbtn button{
  background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    background-color: #ecda17;
    color: black;
    width: 100px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

main h3{
  padding: 5px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

main .info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 8px;
  margin-bottom: 8px;
}

main .info .helth{
  padding: 5px 10px;
}

main .info .move{
  padding: 5px 15px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

main .info .time{
  padding: 5px 15px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

main .info .restart{
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .row{
  padding: 7px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

main .row .col{
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* card ani */
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.card {
  width: 100px;
  height: 100px;
  perspective: 500px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background-color: #273469;
  transform: rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.card-back {
  background-color: #69274f; /* Change to desired color or image */
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.card-back img{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-inner.is-flipped {
  transform: rotateY(180deg); /* Rotate the card inner when flipped */
}

.matched {
  /* Add your extra styles or animations here */
  /* For example: */
  border: 2px solid green; /* Add a border */
  transform: scale(1.1); /* Scale up the card */
  /* Add more styles or animations as needed */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

footer p{
  font-family: cursive;
}
