*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  width: 100%;
  background-color: #1E2749;
  color: #fff;
}

main .row{
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

main .row .col{
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #273469;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}




.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card {
  width: 100px;
  height: 100px;
  perspective: 1000px; /* Add perspective for 3D effect */
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background-color: #273469;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #273469; /* Change to desired color or image */
  transform: rotateY(180deg);
}

.card-inner.is-flipped {
  transform: rotateY(180deg); /* Rotate the card inner when flipped */
}
